body.login{
	background-color: $primary;
	font-family: "Montserrat", sans-serif;
}

body.login div#login form#loginform{
	background-color: $white;
}

body.login div#login form#loginform p.submit input#wp-submit, body.login div#login form#registerform p.submit input#wp-submit {
	@extend .btn;
	@extend .btn--filled;
	text-shadow: none;
	box-shadow: none;

	height:auto;
	line-height: unset;
}

.message.register{
	display:none;
}

body.login div#login p#nav, body.login div#login p#nav a, body.login div#login p#backtoblog a {
	color:$white;
}

body.login h1{
	display:none;
}

body.login div#login h1 a {
    background-image: none;
}