.search{
	position: relative;

	&__label{
		display:none;
	}

	&__bar{
		background:transparent;
		border: 1.5px solid  $white;
		color: $white;

		width:100%;

		border-radius: 10px;
		padding: 0.5em;
		padding-right:2em;

		font-size:1em;
	}

	&__icon{
		color:$white;
		background: transparent;
		position: absolute;

		cursor: pointer;

		right: 1em;
		top:50%;
		transform: translateY(-50%);
	}

	&__form{
		display:inline-block;
		width: 100%;
		font-size:1.6rem;
		margin:2rem auto;
	}

	@include tablet{
		padding-top:0;

		&__form{
			width:auto;
		}	
	}
}

.results{
	width: 90%;
	margin: 0 auto;
	margin-top:4em;

	display:grid;
	grid-template-columns: 1fr;
	grid-gap: 5em;

	&__list{
		margin-top:3em;

		display:grid;
		grid-gap: 3em;
	}
	 
	@include laptop{
		grid-template-columns: 1fr 1fr 1fr;
	}
}